src/main/webapp/WEB-INF/services/AllocateRole/META-INF/AllocateRole.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AllocateRole" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="AllocateRole">
        <xsd:complexType>
          <xsd:sequence>
          	 <xsd:element name="RoleName" type="xsd:string"/>
             <xsd:element name="UnitName" type="xsd:string"/>
             <xsd:element name="TargetAgentName" type="xsd:string"/>
             <xsd:element name="AgentId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AllocateRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AllocateRoleMessage">
    <wsdl:part name="parameters" element="tns:AllocateRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AllocateRoleResponse">
    <wsdl:part name="parameters" element="tns:AllocateRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AllocateRolePortType">
    <wsdl:operation name="AllocateRole">
      <wsdl:input message="tns:AllocateRoleMessage">
    </wsdl:input>
      <wsdl:output message="tns:AllocateRoleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AllocateRoleSOAP" type="tns:AllocateRolePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AllocateRole">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AllocateRole">
    <wsdl:port name="AllocateRoleSOAP" binding="tns:AllocateRoleSOAP">
      <soap:address location="http://localhost:8080/OMS/services/AllocateRole"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
