services/testSFservices/src/main/webapp/WEB-INF/services/Even/META-INF/Even.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Even" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="Even">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EvenResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EvenResponse">
    <wsdl:part name="parameters" element="tns:EvenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EvenMessage">
    <wsdl:part name="parameters" element="tns:Even">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EvenPortType">
    <wsdl:operation name="Even">
      <wsdl:input message="tns:EvenMessage">
    </wsdl:input>
      <wsdl:output message="tns:EvenResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EvenSOAP" type="tns:EvenPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Even">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Even">
    <wsdl:port name="EvenSOAP" binding="tns:EvenSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/Even"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
