testSFservices/src/main/webapp/WEB-INF/services/SumArray/META-INF/SumArray.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SumArray" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"   
        location="http://schemas.xmlsoap.org/soap/encoding/"/>
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
     <xsd:complexType name="ArrayOfstring">
	  <xsd:complexContent>
	    <xsd:restriction base="soapenc:Array">
	      <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
	    </xsd:restriction>
	  </xsd:complexContent>
	</xsd:complexType>
     
      <xsd:element name="SumArray">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:ArrayOfDouble" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SumArrayResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SumArrayResponse">
    <wsdl:part name="parameters" element="tns:SumArrayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SumArrayMessage">
    <wsdl:part name="parameters" element="tns:SumArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SumArrayPortType">
    <wsdl:operation name="SumArray">
      <wsdl:input message="tns:SumArrayMessage">
    </wsdl:input>
      <wsdl:output message="tns:SumArrayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SumArraySOAP" type="tns:SumArrayPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SumArray">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SumArray">
    <wsdl:port name="SumArraySOAP" binding="tns:SumArraySOAP">
      <soap:address location="http://localhost:8080/sfservices/services/SumArray"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
