services/testSFservices/src/main/webapp/WEB-INF/services/Sign/META-INF/Sign.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Sign" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="Sign">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SignResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SignResponse">
    <wsdl:part name="parameters" element="tns:SignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SignMessage">
    <wsdl:part name="parameters" element="tns:Sign">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SignPortType">
    <wsdl:operation name="Sign">
      <wsdl:input message="tns:SignMessage">
    </wsdl:input>
      <wsdl:output message="tns:SignResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignSOAP" type="tns:SignPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Sign">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sign">
    <wsdl:port name="SignSOAP" binding="tns:SignSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/Sign"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
