services/testSFservices/src/main/webapp/WEB-INF/services/Product/META-INF/Product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Product" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="Product">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:double" />
          	<xsd:element name="y" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProductResponse">
    <wsdl:part name="parameters" element="tns:ProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductMessage">
    <wsdl:part name="parameters" element="tns:Product">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductPortType">
    <wsdl:operation name="Product">
      <wsdl:input message="tns:ProductMessage">
    </wsdl:input>
      <wsdl:output message="tns:ProductResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductSOAP" type="tns:ProductPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Product">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="ProductSOAP" binding="tns:ProductSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/Product"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
