services/testSFservices/src/main/webapp/WEB-INF/services/Division/META-INF/Division.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Division" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="Division">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:double" />
          	<xsd:element name="y" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DivisionResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DivisionResponse">
    <wsdl:part name="parameters" element="tns:DivisionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DivisionMessage">
    <wsdl:part name="parameters" element="tns:Division">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DivisionPortType">
    <wsdl:operation name="Division">
      <wsdl:input message="tns:DivisionMessage">
    </wsdl:input>
      <wsdl:output message="tns:DivisionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DivisionSOAP" type="tns:DivisionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Division">
    <wsdl:port name="DivisionSOAP" binding="tns:DivisionSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/Division"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
