src/main/webapp/WEB-INF/services/Expulse/META-INF/Expulse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Expulse" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="Expulse">
        <xsd:complexType>
          <xsd:sequence>
          	 <xsd:element name="ExpulsedAgentID" type="xsd:string"/>
             <xsd:element name="UnitID" type="xsd:string"/>
             <xsd:element name="RoleID" type="xsd:string"/>
             <xsd:element name="AgentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExpulseResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Status" type="xsd:string"/>
          	<xsd:element name="ErrorValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExpulseMessage">
    <wsdl:part name="parameters" element="tns:Expulse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExpulseResponse">
    <wsdl:part name="parameters" element="tns:ExpulseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExpulsePortType">
    <wsdl:operation name="Expulse">
      <wsdl:input message="tns:ExpulseMessage">
    </wsdl:input>
      <wsdl:output message="tns:ExpulseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpulseSOAP" type="tns:ExpulsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Expulse">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Expulse">
    <wsdl:port name="ExpulseSOAP" binding="tns:ExpulseSOAP">
      <soap:address location="http://localhost:8080/OMS/services/Expulse"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
