services/omsservices/src/main/webapp/WEB-INF/services/InformTargetNorms/META-INF/InformTargetNorms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InformTargetNorms" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
 <wsdl:types>
  <xsd:schema targetNamespace="http://wtp">
			<xsd:element name="InformTargetNorms">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TargetTypeName" type="xsd:string" />
						<xsd:element name="TargetValueName" type="xsd:string" />
						<xsd:element name="UnitID" type="xsd:string" />
						<xsd:element name="AgentID" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InformTargetNormsResponse">
        
                <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InformTargetNormsResponse">
    <wsdl:part name="parameters" element="tns:InformTargetNormsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InformTargetNormsMessage">
    <wsdl:part name="parameters" element="tns:InformTargetNorms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InformTargetNormsPortType">
    <wsdl:operation name="InformTargetNorms">
      <wsdl:input message="tns:InformTargetNormsMessage">
    </wsdl:input>
      <wsdl:output message="tns:InformTargetNormsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformTargetNormsSOAP" type="tns:InformTargetNormsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InformTargetNorms">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformTargetNorms">
    <wsdl:port name="InformTargetNormsSOAP" binding="tns:InformTargetNormsSOAP">
      <soap:address location="http://localhost:8080/OMS/services/InformTargetNorms"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
