src/main/webapp/WEB-INF/services/GetProfile/META-INF/GetProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetProfile" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="GetProfile">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="ServiceID" type="xsd:string"/>
             <xsd:element name="AgentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProfileResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="return" type="xsd:int"/>
            <xsd:element name="ServiceProfile" type="xsd:string"/>
             <xsd:element name="Goal" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetProfileResponse">
    <wsdl:part name="parameters" element="tns:GetProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProfileMessage">
    <wsdl:part name="parameters" element="tns:GetProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetProfilePortType">
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileMessage">
    </wsdl:input>
      <wsdl:output message="tns:GetProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetProfileSOAP" type="tns:GetProfilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetProfile">
    <wsdl:port name="GetProfileSOAP" binding="tns:GetProfileSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/GetProfile"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
