src/main/webapp/WEB-INF/services/RegisterProcess/META-INF/RegisterProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegisterProcess" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="RegisterProcess">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ServiceID" type="xsd:string"/>
          	<xsd:element name="AgentID" type="xsd:string"/>
            <xsd:element name="ServiceModel" type="xsd:string"/>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegisterProcessResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="return" type="xsd:int"/>
            <xsd:element name="ServiceModelID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterProcessResponse">
    <wsdl:part name="parameters" element="tns:RegisterProcessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterProcessMessage">
    <wsdl:part name="parameters" element="tns:RegisterProcess">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegisterProcessPortType">
    <wsdl:operation name="RegisterProcess">
      <wsdl:input message="tns:RegisterProcessMessage">
    </wsdl:input>
      <wsdl:output message="tns:RegisterProcessResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterProcessSOAP" type="tns:RegisterProcessPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegisterProcess">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterProcess">
    <wsdl:port name="RegisterProcessSOAP" binding="tns:RegisterProcessSOAP">
      <soap:address location="http://localhost:8080/sfservices/services/RegisterProcess"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
