src/main/webapp/WEB-INF/services/DeregisterRole/META-INF/DeregisterRole.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeregisterRole" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="DeregisterRole">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RoleID" type="xsd:string"/>
            <xsd:element name="UnitID" type="xsd:string"/>
            <xsd:element name="AgentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeregisterRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeregisterRoleMessage">
    <wsdl:part name="parameters" element="tns:DeregisterRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeregisterRoleResponse">
    <wsdl:part name="parameters" element="tns:DeregisterRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeregisterRolePortType">
    <wsdl:operation name="DeregisterRole">
      <wsdl:input message="tns:DeregisterRoleMessage">
    </wsdl:input>
      <wsdl:output message="tns:DeregisterRoleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeregisterRoleSOAP" type="tns:DeregisterRolePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeregisterRole">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeregisterRole">
    <wsdl:port name="DeregisterRoleSOAP" binding="tns:DeregisterRoleSOAP">
      <soap:address location="http://localhost:8080/OMS/services/DeregisterRole"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
