services/omsservices/src/main/webapp/WEB-INF/services/LeaveRole/META-INF/LeaveRole.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LeaveRole" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="LeaveRole">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="UnitID" type="xsd:string"/>
             <xsd:element name="RoleID" type="xsd:string"/>
             <xsd:element name="AgentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LeaveRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LeaveRoleResponse">
    <wsdl:part name="parameters" element="tns:LeaveRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LeaveRoleMessage">
    <wsdl:part name="parameters" element="tns:LeaveRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LeaveRolePortType">
    <wsdl:operation name="LeaveRole">
      <wsdl:input message="tns:LeaveRoleMessage">
    </wsdl:input>
      <wsdl:output message="tns:LeaveRoleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeaveRoleSOAP" type="tns:LeaveRolePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LeaveRole">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaveRole">
    <wsdl:port name="LeaveRoleSOAP" binding="tns:LeaveRoleSOAP">
      <soap:address location="http://apolo.dsic.upv.es:8080/OMS/services/LeaveRole"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
