omsservices/src/main/webapp/WEB-INF/services/InformRoleNorms/META-INF/InformRoleNorms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InformRoleNorms" targetNamespace="http://wtp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wtp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wtp">
      <xsd:element name="InformRoleNorms">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="RoleID" type="xsd:string"/>
             <xsd:element name="AgentID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InformRoleNormsResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Status" type="xsd:string"/>
          	<xsd:element name="ErrorValue" type="xsd:string"/>
          	<xsd:element name="NormList" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InformRoleNormsMessage">
    <wsdl:part name="parameters" element="tns:InformRoleNorms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InformRoleNormsResponse">
    <wsdl:part name="parameters" element="tns:InformRoleNormsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InformRoleNormsPortType">
    <wsdl:operation name="InformRoleNorms">
      <wsdl:input message="tns:InformRoleNormsMessage">
    </wsdl:input>
      <wsdl:output message="tns:InformRoleNormsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformRoleNormsSOAP" type="tns:InformRoleNormsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InformRoleNorms">
      <soap:operation soapAction="http://wtp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformRoleNorms">
    <wsdl:port name="InformRoleNormsSOAP" binding="tns:InformRoleNormsSOAP">
      <soap:address location="http://localhost:8080/OMS/services/InformRoleNorms"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
